/* background */
#background {
	background: url("../image/background/centre/bg_centre01.jpg") no-repeat center/cover;
}
#background .main .cover {
	background-color: rgba(237, 188, 200, 0.8);
}
#background .cover .grouper {
	padding: 0 32px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
}
#background .cover .grouper > .top {
	width: 100%;
	padding: 24px 0;
}
#background .cover .grouper > .top > * {
	font-weight: bold;
	color: var(--real-white);
	text-shadow: 1px 1px 4px rgba(0,0,0,1);
	text-align: center;
}
#background .cover .grouper > .top h1 {
	font-size: 64px;
}
#background .cover .grouper > .top h2 {
	font-size: 40px;
}
#background .cover .grouper > .bottom {
	width: 100%;
	display: flex;
	gap: 16px;
	position: abssolute;
	z-index: 1;
}

/* utils */
#background .cover .grouper > .bottom .utils {
	width: 65.33%;
	border-radius: 24px;
	overflow: hidden;
	flex-grow: 1;
	flex-shrink: 0.5;
}
#background .cover .grouper > .bottom .utils > .top {
	width: 100%;
	height: 84px;
	display: flex;
}
#background .cover .grouper > .bottom .utils > .top > .left {
/* 	width: 60.06%; */
	flex-grow :1;
	height: 100%;
	background-color: var(--real-white);
}
#background .cover .grouper > .bottom .utils > .top > .left .inputArea {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
#background .cover .grouper > .bottom .utils > .top > .left .inputArea .searchInput {
	display: block;
	width: 100%;
	padding: 4px;
/* 	border: 1px solid var(--main-black); */
	border: 0px;
	height: 100%;
	border-top-left-radius: 24px;
}
#background .cover .grouper > .bottom .utils > .top > .left .inputArea .searchIcon {
	display: block;
	width: 44px;
	height: 44px;
	background: url('../image/icon/search.png') no-repeat center/cover;
	background-size: 28px 28px;
	border: 0px;
	cursor : pointer;
	transition: all 0.3s;
}
#background .cover .grouper > .bottom .utils > .top > .left .inputArea .searchIcon:hover {
	opacity: 0.6;
}
#background .cover .grouper > .bottom .utils > .top > .left .inputArea .searchIcon:active {
	transform: scale(0.9);
}
#background .cover .grouper > .bottom .utils > .top > .right {
	width: 39.93%;
/* 	flex-grow :1; */
	background-color: var(--main-red);
	padding: 10px 27px;
}
#background .cover .grouper > .bottom .utils > .top > .right .trending {
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 8px;
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingSlider {
	width: 69.08%;
	height: 43px;
	overflow: hidden;
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingList {
	width: 100%;
	height: auto;
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingList .trendingItem {
	height: 43px;
	line-height: 43px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingList .trendingItem a {
	font-size: 20px;
	text-shadow: none;
	font-weight: 100;
	color: var(--main-white);
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingController .operator {
	width:24px;
	height: 24px;
	cursor: pointer;
	transition: all 0.3s;	
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingController .operator:active {
	transform: scale(0.9);
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingController .goUp {
	background: url('../image/icon/chevron-up-white.png') no-repeat center/cover;
}
#background .cover .grouper > .bottom .utils > .top > .right .trending .trendingController .goDown {
	background: url('../image/icon/chevron-down-white.png') no-repeat center/cover;
}
#background .cover .grouper > .bottom .utils > .bottom {
	width: 100%;
	height: 250px;
	background-color: var(--sub-red);
	padding: 16px;
	display: flex;
	overflow: hidden;
}
#background .cover .grouper > .bottom .utils > .bottom > div {
	width: 50%;
	height: 100%;
	color: var(--main-white);
	overflow: hidden;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff {
	border-right: 1px solid var(--main-white);
	display: flex;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 48px 0;
	width: 116px;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left > .title {
	font-size: 24px;
	font-weight: bold;
	color: var(--main-white);
	text-align: center;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .yyyy {
	font-size: 20px;
	font-weight: bold;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .controller {
	display: flex;
	justify-content: center;
	align-items: center;	
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .controller > span {
	cursor: pointer;
	transition: all 0.3s;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .controller > span > img{
	display: block;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .controller > span > img:hover {
	opacity:0.6;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .controller > span > img:active {
	transform: scale(0.9);
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .left .yyyymm .controller .mm {
	font-size: 24px;
	font-weight: bold;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	padding: 8px 8px;
	width: calc(100% - 116px);
	overflow: hidden;
	border-left: 1px solid var(--main-white);
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .right .dayOffsAmount {
	font-weight: bold;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .right .dayOffsList {
	display:flex;
	gap: 16px;
	width: 100%;
}
#background .cover .grouper > .bottom .utils > .bottom .dayOff > .right .dayOffsList .circleText {
	flex-shrink: 0;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour {
	padding-left: 8px;
	position: relative;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section {
	width: 100%;
	min-width: 360px;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding: 0 8px;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section article {
	height: auto;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section > .left {
	float: left;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section > .right {
	float: right;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section article > p {
	margin-bottom: 8px;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section article > p:last-child {
	margin-bottom: 0;
}
#background .cover .grouper > .bottom .utils > .bottom .businessHour section > .right .time {
	display: block;
}

/* login */
#background .cover .grouper > .bottom .login {
	width: 449px;
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-shrink: 1.5;
}
#background .cover .grouper > .bottom .login > .top {
	width: 100%;
	text-align: center;
}
#background .cover .grouper > .bottom .login > .top > .title {
	width: 100%;
	height: 85px;
	line-height: 85px;
	font-size: 32px;
	font-weight: bold;
	color: var(--real-white);
	background-color: var(--sub-red);
}
#background .cover .grouper > .bottom .login > .bottom {
	width: 100%;
	background-color: var(--real-white);
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

/* perspective of Users */
#background .cover .grouper > .bottom .login > .bottom .userName {
	text-align:center;
	color: var(--main-black);
}
#background .cover .grouper > .bottom .login > .bottom .buttonList {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8px;
}

/* perspective of Strangers */
#background .cover .grouper > .bottom .login > .bottom .frmLogin {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8px;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .input {
	flex-grow: 1;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .input > div {
	background-color: var(--main-white);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 8px;
	height: 53px;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .input > div:last-child {
	margin-bottom: 0;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .input > div > .icon {
	padding: 8px;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .input > div > .icon > img {
	width: 24px;
	height: 24px;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .input > div > input {
	width: 100%;
	height: 40px;
	border: 0;
	background-color: var(--main-white);
	padding: 0 4px;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .button {
	flex-grow: 0;
	width: 114px;
	height: 114px;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .button button {
	display: block;
	width: 100%;
	height: 100%;
	padding: 16px;
	font-size: 20px;
	color: var(--real-white);
	background-color: var(--main-red);
	transition: all 0.3s;
	border: 0;
}
#background .cover .grouper > .bottom .login > .bottom .frmLogin .button button:active {
/* 	transform: scale(0.9); */
	box-shadow: 1px 1px 4px rgba(0,0,0,1);
}

/* help */
#background .cover .grouper > .bottom .help {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#background .cover .grouper > .bottom .help .access {
	padding: 0 8px;
	border-right: 1px solid var(--main-lightGray);
	text-overflow: ellipse;
	white-space: nowrap;
	overflow: hidden;
}
#background .cover .grouper > .bottom .help .access:first-child {
	padding-left: 0;
}
#background .cover .grouper > .bottom .help .access:last-child {
	border-right: 0;
}


/* frequent */
#background .frequent {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
#background .frequent .cover {
	width: 100%;
	height: 187px;
	background: rgba(104, 90, 90, 60);
	padding: 30px;
}
#background .frequent .cover .center {
}
#background .frequent .cover .center .shortcutList {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#background .frequent .cover .center .shortcutList .shortcutItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
	transition: all 0.3s;
}
#background .frequent .cover .center .shortcutList .shortcutItem:active {
	transform: scale(0.98);
}
#background .frequent .cover .center .shortcutList .shortcutItem .icon {
	display: block;
}
#background .frequent .cover .center .shortcutList .shortcutItem .text {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: var(--main-white);
}
