/* background */
#background {
	background: url("../image/background/libraryBackground02.jpg") no-repeat center/cover;
}
#background .main .cover {
	background-color: rgba(237, 188, 200, 0.8);
}

/* login */
#background .cover .center .login {
/* 	width: 449px; */
	width: 60%;
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#background .cover .center .login > .top {
	width: 100%;
	text-align: center;
}
#background .cover .center .login > .top > .title {
	width: 100%;
	height: 85px;
	line-height: 85px;
	font-size: 32px;
	font-weight: bold;
	color: var(--real-white);
	background-color: var(--sub-red);
}
#background .cover .center .login > .bottom {
	width: 100%;
	background-color: var(--real-white);
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
#background .cover .center .login > .bottom .form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8px;
}
#background .cover .center .login > .bottom .form .input {
	flex-grow: 1;
}
#background .cover .center .login > .bottom .form .input > div {
	background-color: var(--main-white);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 8px;
	height: 53px;
}
#background .cover .center .login > .bottom .form .input > div:last-child {
	margin-bottom: 0;
}
#background .cover .center .login > .bottom .form .input > div > .icon {
	padding: 8px;
}
#background .cover .center .login > .bottom .form .input > div > .icon > img {
	width: 24px;
	height: 24px;
}
#background .cover .center .login > .bottom .form .input > div > input {
	width: 100%;
	height: 40px;
	border: 0;
	background-color: var(--main-white);
	padding: 0 4px;
}
#background .cover .center .login > .bottom .form .button {
	flex-grow: 0;
	width: 114px;
	height: 114px;
}
#background .cover .center .login > .bottom .form .button button {
	display: block;
	width: 100%;
	height: 100%;
	padding: 16px;
	font-size: 20px;
	color: var(--real-white);
	background-color: var(--main-red);
	transition: all 0.3s;
	border: 0;
}
#background .cover .center .login > .bottom .form .button button:active {
	box-shadow: 1px 1px 4px rgba(0,0,0,1);
}

/* help */
#background .cover .center .login > .bottom .help {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#background .cover .center .login > .bottom .help .access {
	padding: 0 8px;
	border-right: 1px solid var(--main-lightGray);
	text-overflow: ellipse;
	white-space: nowrap;
	overflow: hidden;
}
#background .cover .center .login > .bottom .help .access:first-child {
	padding-left: 0;
}
#background .cover .center .login > .bottom .help .access:last-child {
	border-right: 0;
}